#img1{
  width: 220px;
}

#img2{
  height: 165px;
}

#img3{
  height: 230px;
}

#img4{
  width: 250px;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../font/material-design-icons/icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}



.pie { background: #1a237e}


.ind { background: rgba(21,161,166,1);
background: -moz-linear-gradient(left, rgba(21,161,166,1) 20%, rgba(21,161,166,1) 22%, rgba(47,147,201,1) 34%, rgba(12,136,245,1) 49%, rgba(7,53,235,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(20%, rgba(21,161,166,1)), color-stop(22%, rgba(21,161,166,1)), color-stop(34%, rgba(47,147,201,1)), color-stop(49%, rgba(12,136,245,1)), color-stop(100%, rgba(7,53,235,1)));
background: -webkit-linear-gradient(left, rgba(21,161,166,1) 20%, rgba(21,161,166,1) 22%, rgba(47,147,201,1) 34%, rgba(12,136,245,1) 49%, rgba(7,53,235,1) 100%);
background: -o-linear-gradient(left, rgba(21,161,166,1) 20%, rgba(21,161,166,1) 22%, rgba(47,147,201,1) 34%, rgba(12,136,245,1) 49%, rgba(7,53,235,1) 100%);
background: -ms-linear-gradient(left, rgba(21,161,166,1) 20%, rgba(21,161,166,1) 22%, rgba(47,147,201,1) 34%, rgba(12,136,245,1) 49%, rgba(7,53,235,1) 100%);
background: linear-gradient(to right, rgba(21,161,166,1) 20%, rgba(21,161,166,1) 22%, rgba(47,147,201,1) 34%, rgba(12,136,245,1) 49%, rgba(7,53,235,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15a1a6', endColorstr='#0735eb', GradientType=1 );}